body
  background: #000
  box-sizing: border-box
  font-family: Helvetica, sans-serif
  font-size: 14px
  line-height: 1.35

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  background: #3a1817 url(/images/bgart.jpg) center
  background-size: cover

h1, h2, h3
  font-weight: 200

h1
  font-size: 48px

h2
  font-size: 24px

h3
  font-size: 24px

.main
  background: rgba(255,255,255,0.9 )
  background-size: cover
  width: 900px
  margin: 0 auto
  padding: 60px
  height: 100%
  color: #111

  header
    margin: 0 0 40px 0

    h2
      margin-bottom: 20px

  .about
    p
      margin: 1px -40px
      padding: 5px 40px

  .download-section
    margin: 40px 0

    .download
      margin: 20px 0

      &:not(:last-child)
        margin-bottom: 50px

      .date, .details
        margin: 3px 0

      .date
        color: #999

      .download-link
        color: black
        background: #ccc
        text-decoration: none
        display: inline-block
        padding: 10px 14px 8px 14px
        border-bottom: 3px solid #aaa
        margin: 0 10px 10px 0
        border-radius: 4px

      &.latest
        .download-link
          font-size: 140%
          background: #83C1F1
          border-bottom-color: #60a3de
          color: white

          &:hover
            background: #60a3de
            border-bottom-color: #3e8ccd


  .thumbs
    margin: 40px 0 70px

    a
      display: inline-block
      line-height: 0
      margin: 10px 10px 10px 0

      opacity: 0.9

      &:hover
        opacity: 1


.footer

  p
    margin: 10px 0

  a
    color: inherit
    text-decoration: none
